/wandb
.ipynb_checkpoints/
contrastive/.ipynb_checkpoints/
__pycache__/
contrastive/__pycache__/
*.pyc
*.out
tensorboard/
joblog/
archived/
*.png/
logs
**/**/*.png
*.log
runs_final/
experiments/plots/
experiments/psi_data

