/wandb
.ipynb_checkpoints/
contrastive/.ipynb_checkpoints/
__pycache__/
contrastive/__pycache__/
*.pyc
*.out
tensorboard/
joblog/
archived/
.venv/
experiments/
logs/
training_videos/
plots/
videos/
figure
slurm/
figs/
.pip_cache/
.slurm
/slurm
checkpoints/
ready_plots/
tmp_video_preview_3608897/
tmp_video_preview_3618870/
.cursor/
third_party/


